<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="ros_f">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.80547 0.29964 -0.47356"
        rpy="0 0 0" />
      <mass
        value="13.533" />
      <inertia
        ixx="0.22773"
        ixy="-0.0049825"
        ixz="5.9491E-05"
        iyy="0.3509"
        iyz="5.9312E-05"
        izz="0.14899" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_fablab/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.74902 0.74902 0.74902 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_fablab/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Left_wheel">
    <inertial>
      <origin
        xyz="-0.00025563 0.014871 7.2657E-07"
        rpy="0 0 0" />
      <mass
        value="1.0716" />
      <inertia
        ixx="0.0032564"
        ixy="1.521E-09"
        ixz="-6.2778E-09"
        iyy="0.0062145"
        iyz="4.2157E-08"
        izz="0.0032565" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_fablab/meshes/link_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.59608 0.66667 0.68627 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_fablab/meshes/link_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Left_wheel_joint"
    type="continuous">
    <origin
      xyz="0.71544 0.76308 -0.015158"
      rpy="0 0 -3.1416" />
    <parent
      link="base_link" />
    <child
      link="Left_wheel" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="Right_wheel">
    <inertial>
      <origin
        xyz="-0.00025564 -0.014871 7.261E-07"
        rpy="0 0 0" />
      <mass
        value="1.0716" />
      <inertia
        ixx="0.0032564"
        ixy="-1.5005E-09"
        ixz="-6.3105E-09"
        iyy="0.0062145"
        iyz="-4.2151E-08"
        izz="0.0032565" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_fablab/meshes/link_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.59608 0.66667 0.68627 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_fablab/meshes/link_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Right_wheel_joint"
    type="continuous">
    <origin
      xyz="0.71544 0.18036 -0.015158"
      rpy="0 0 3.1416" />
    <parent
      link="base_link" />
    <child
      link="Right_wheel" />
    <axis
      xyz="0 -1 0" />
  </joint>
  <link
    name="Caster">
    <inertial>
      <origin
        xyz="-0.00326890758980913 -0.000105769701198966 -0.0476560909473075"
        rpy="0 0 0" />
      <mass
        value="0.378365009719551" />
      <inertia
        ixx="0.000486902921012301"
        ixy="4.68634433031941E-08"
        ixz="-8.39976891943837E-05"
        iyy="0.000645365810716879"
        iyz="-4.71799768324587E-07"
        izz="0.000450276858110533" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_fablab/meshes/link_caster.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_fablab/meshes/link_caster.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Caster_joint"
    type="continuous">
    <origin
      xyz="1.0482 0.47172 -0.0081577"
      rpy="0 0 -3.1416" />
    <parent
      link="base_link" />
    <child
      link="Caster" />
    <axis
      xyz="0 0 0" />
  </joint>

  <link name="base_footprint">
    <visual>
      <geometry>
        <box size="0.001 0.001 0.001"/>
      </geometry>
    </visual>
  </link>

  <joint name="base_footprint_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <!-- transmission for ros_control -->
  <transmission name="left_wheel_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <actuator name="motor_left_wheel">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
    <joint name="Left_wheel_joint">
      <hardwareInterface>VelocityJointInterface</hardwareInterface>
    </joint>
  </transmission>

  <transmission name="right_wheel_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <actuator name="motor_right_wheel">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
    <joint name="Right_wheel_joint">
      <hardwareInterface>VelocityJointInterface</hardwareInterface>
    </joint>
  </transmission>

  <!-- gazebo ros_control plugin -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
    </plugin>
  </gazebo>

</robot>