<launch>
    <!-- Lidar driver -->
    <include file="$(find rplidar_ros)/launch/rplidar_s2.launch"/>

    <!-- RViz -->
    <arg name="rvizconfig" default="$(find rviz)/amcl.rviz"/>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)"/>

    <node pkg = "slam" type = "slam_node" name = "slam_node" output = "screen">
        <param name="mode" value="1"/> 
        <param name="calib" value="0"/>
        <param name="cycle_transmit" value="0.05"/>
    </node>

    <node ns="imu" name="imu_node" pkg="imu_bno055" type="bno055_i2c_node" respawn="true" respawn_delay="2">
        <param name="device" type="string" value="/dev/i2c-1"/>
        <param name="address" type="int" value="40"/> <!-- 0x28 == 40 is the default for BNO055 -->
        <param name="frame_id" type="string" value="imu"/>
    </node>

    <node pkg="tf2_ros" type="static_transform_publisher" name="basefootprint_to_laser"
            args="-0.17 0 0.6 3.141592635 0 0 base_footprint laser" />

    <node name="cartographer_node" pkg="cartographer_ros"
        type="cartographer_node" args="
            -configuration_directory $(find slam)/config
            -configuration_basename my_robot.lua"
        output="screen">
        <remap from="scan" to="scan" />
        <remap from="odom" to="wheel_odometry" />
    </node>

    <arg name="publish_period_sec" default="1.0" />
    <arg name="use_sim_time" default="false" />
    <arg name="use_rviz" default="true" />
  
    <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
        type="cartographer_occupancy_grid_node" args="-resolution 0.05 -publish_period_sec 1.0" />
</launch>

<!-- rosservice call /finish_trajectory 0
rosrun map_server map_saver -f /home/robot_fablab_ws/src/robot_fablab/maps/map_outside -->
