<launch>
    <arg name="guidance_enabled" default="true" />
    <arg name="can_enabled" default="true" />
    <arg name="use_map_topic"   default="false"/>
    <arg name="initial_pose_x"  default="0.0"/>
    <arg name="initial_pose_y"  default="0.0"/>
    <arg name="initial_pose_a"  default="0.0"/>
    <arg name="odom_frame_id"   default="odom"/>
    <arg name="base_frame_id"   default="base_footprint"/>
    <arg name="global_frame_id" default="map"/>

    <arg name="mqtt_enabled" default="true" />

    <!-- Lidar driver -->
    <include file="$(find rplidar_ros)/launch/rplidar_s2.launch"/>

    <!-- RViz -->
    <arg name="rvizconfig" default="$(find rviz)/robot.rviz"/>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)"/>

    <!-- Load map (yaml file, không dùng .pbstream) -->
    <!-- <arg name="map_file" default="$(find robot_fablab)/maps/map_inside_fablab.yaml" /> -->
    <arg name="map_file" default="$(find robot_fablab)/maps/new_map2.yaml" />
    <!-- <arg name="map_file" default="$(find robot_fablab)/maps/B2_map.yaml" /> -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

    <group if="$(arg can_enabled)">
        <node pkg = "cmd_vel" type = "can_node" name = "Cmd_vel" output = "screen">
            <param name="mode" value="1"/> 
            <param name="calib" value="0"/>
            <param name="cycle_transmit" value="0.05"/>
        </node>
    </group>

    <group if="$(arg mqtt_enabled)">
        <node pkg = "publish_mqtt" type = "publish_mqtt_node" name = "Mqtt" output = "screen"></node>
    </group>

    <node ns="imu" name="imu_node" pkg="imu_bno055" type="bno055_i2c_node" respawn="true" respawn_delay="2">
        <param name="device" type="string" value="/dev/i2c-1"/>
        <param name="address" type="int" value="40"/> <!-- 0x28 == 40 is the default for BNO055 -->
        <param name="frame_id" type="string" value="imu"/>
    </node>

        <!-- Static TF: base_footprint -> laser -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="basefootprint_to_laser"
            args="-0.17 0 0.6 3.141592635 0 0 base_footprint laser" />

    <node pkg="tf2_ros" type="static_transform_publisher" name="basefootprint_to_imu"
            args="-0.17 0.06 0.6 0 0 0 base_footprint imu" />

    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization" output="screen">
        <rosparam command="load" file="$(find robot_fablab)/config/ekf_localization.yaml"/>
        <remap from="odometry/filtered" to="/odom"/>
    </node>

    
    <!-- AMCL for localization -->
    <node pkg="amcl" type="amcl" name="amcl">
        <param name="use_map_topic"             value="$(arg use_map_topic)"/>
        <!-- Publish scans from best pose at a max of 10 Hz -->
        <param name="odom_model_type"           value="diff"/>
        <param name="odom_alpha5"               value="0.08"/>
        <param name="gui_publish_rate"          value="10.0"/>
        <param name="laser_max_beams"             value="60"/>
        <param name="laser_max_range"           value="15.0"/>
        <param name="min_particles"             value="500"/>
        <param name="max_particles"             value="2000"/>
        <param name="kld_err"                   value="0.10"/>
        <param name="kld_z"                     value="0.5"/>
        <param name="odom_alpha1"               value="0.01"/>
        <param name="odom_alpha2"               value="0.040"/>
        <!-- translation std dev, m -->
        <param name="odom_alpha3"               value="0.005"/>
        <param name="odom_alpha4"               value="0.03"/>*
        <param name="laser_z_hit"               value="0.9"/>
        <param name="laser_z_short"             value="0.05"/>
        <param name="laser_z_max"               value="0.05"/>
        <param name="laser_z_rand"              value="0.2"/>
        <param name="laser_sigma_hit"           value="0.1"/>
        <param name="laser_lambda_short"        value="0.1"/>
        <param name="laser_model_type"          value="likelihood_field"/>
        <!-- <param name="laser_model_type" value="beam"/> -->
        <param name="laser_likelihood_max_dist" value="5.0"/>
        <param name="update_min_d"              value="0.02"/>
        <param name="update_min_a"              value="0.02"/>
        <param name="odom_frame_id"             value="$(arg odom_frame_id)"/> 
        <param name="base_frame_id"             value="$(arg base_frame_id)"/> 
        <param name="global_frame_id"           value="$(arg global_frame_id)"/>
        <param name="resample_interval"         value="1"/>
        <!-- Increase tolerance because the computer can get quite busy -->
        <param name="transform_tolerance"       value="1.0"/>
        <param name="recovery_alpha_slow"       value="0.0"/>
        <param name="recovery_alpha_fast"       value="0.0"/>
        <param name="initial_pose_x"            value="$(arg initial_pose_x)"/>
        <param name="initial_pose_y"            value="$(arg initial_pose_y)"/>
        <param name="initial_pose_a"            value="$(arg initial_pose_a)"/>
    </node>

    <node pkg="robot_fablab" type="set_initial_pose" name="set_initial_pose" output="screen"/>

    <node pkg="subscribe_mqtt" type="waypoints_subscriber.py" name="waypoints_subscriber" output="screen"></node>

    <!-- Xoay Subscriber - Listen to robot/xoay topic and send to CAN -->
    <node pkg="subscribe_mqtt" type="xoay_subscriber.py" name="xoay_subscriber" output="screen"></node>

    <group if="$(arg guidance_enabled)">
        <node pkg = "guidance_node" type = "guidance_node" name = "Guidance" output = "screen">
            <param name="linear_speed" value="0.6"/>
            <param name="angular_speed" value="0.5"/>
            <param name="goal_radius" value="0.5"/>
            <param name="cycle" value="0.1"/>
            <param name="angular_speed_max" value="0.8"/>
            <param name="linear_speed_max" value="0.6"/>
            <param name="KD" value="0.7"/>
            <param name="drive" value="1"/>
            <param name="direct" value="1"/>
            <param name="min_speed_linear" value="0.3"/>
            <!-- <param name="waypoints_x" value="8.43370545973, -1.5463915164, -1.02582621629, -5.14741795585, -10.2078468764, -5.14741795585, -1.02582621, -1.5463915, 8.43370545" /> -->
            <!-- <param name="waypoints_y" value="15.9036135775,  21.4933550528, 24.8810294018, 27.6081660781, 29.7301846772, 27.6081660781, 24.8810294, 21.4933550, 15.9036135" /> -->
            <param name="waypoints_x" value="-0.0145568176766, 4.07109296558, 4.36828805066, 3.96287388499, 3.82816284655, 3.6259261503, 5.50858533119, 15.0417906024, 25.405224311" />
            <param name="waypoints_y" value="-0.0899522513034,  0.226667157814, 1.41586392363, 4.92082046796, 9.27709200749, 13.9424737858, 14.9608998089, 15.3367562076, 16.1181246676" />
            <!-- <param name="waypoints_x" value="17.846833875, 19.580640488, 18.0909480487, 13.7855435301, 13.2871246977, 18.0432616809, 18.7305777725" />
            <param name="waypoints_y" value="20.043761136,  24.1110019643, 26.2962949068, 26.4921987671, 24.8377278702, 24.0635676018, 21.5189316661" /> Toilet nu khoa Hoa -->
            <!-- <param name="waypoints_x" value="0.0839265684349, 11.063455044, 12.7462350141, 16.0562803583, 22.2976415284,  24.7464449317, 24.729907139,  23.0243540792, 22.4718292685, 18.2379016332, 12.7797560431, 11.4664644751, 0.083926568" />
            <param name="waypoints_y" value="-0.101854491926, -0.023951564646, -2.21879094585,  -2.5126816757, -1.86494556111, -0.19952437696,  3.70779846032,  4.18944491958, -1.48177186042, -2.14574148894, -2.4399416164, 0.170298291153, -0.10185449" /> -->
        </node>
    </group>
</launch>

<!-- -0.17011034488677979
0.21769237518310547 -->